body, html {
  height: 100%;
  font-family: 'Space Grotesk', Verdana, Arial, Helvetica, sans-serif;
  color:white;
  background-color: darkslategray;
  margin: 0;
}

.title-box {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2.5vw;
}

.image-cropped-calc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 100%;
    text-align: center;
  }

  .scroll {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 100%;
    text-align: center;
  }

  #title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; 
	  color:darkorchid;
    font-size: 5vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  @media screen and (min-width: 1600px) {
    #title {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center; 
      color:darkorchid;
      font-size: 80px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .title-box {
      position: relative;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 40px;
    }
  }
  
  h1 {
    background-color: transparent;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .sub-title {
    text-align: center;
    font-size: 4.2vw;
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }

  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .banner {
    text-align: center;
    font-size: 3vw;
  }

  .options {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
    margin: auto;
    padding: 10px;
  }

  .select1 {
    width: 20%;
    height: 100px;
    border: 3px white solid;
    border-radius: 5px;
    font-size: 2vw;
  }

  .select2 {
    width: 20%;
    height: 100px;
    border: 3px white solid;
    border-radius: 5px;
    font-size: 2vw;
  }

  .select3 {
    width: 20%;
    height: 100px;
    border: 3px white solid;
    border-radius: 5px;
    font-size: 2vw;
  }

  .select4 {
    width: 20%;
    height: 100px;
    border: 3px white solid;
    border-radius: 5px;
    font-size: 2vw;
  }

  .select5 {
    width: 20%;
    height: 100px;
    border: 3px white solid;
    border-radius: 5px;
    font-size: 2vw;
  }

  .select1:hover {
    background-color:  #f4c9da;
    border-color: black;
    color: black;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .select2:hover {
    background-color:  #f4c9da;
    border-color: black;
    color: black;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .select3:hover {
    background-color:  #f4c9da;
    border-color: black;
    color: black;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .select4:hover {
    background-color:  #f4c9da;
    border-color: black;
    color: black;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .select5:hover {
    background-color:  #f4c9da;
    border-color: black;
    color: black;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .selected {
    background-color: #f4c9da;
  }

  p {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .secondary-input-field {
    height: 100px;
    font-size: 3vw;
    font-weight: bold;
    vertical-align: middle;
  }

  #name {
    width: 60%
  }

  #name-banner {
    margin-block-end: 5px;
  }

  label {
    margin-left: 5px;
  }

  #submit {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Space Grotesk', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 500;
    height: 40px;
    width: 30%;
    line-height: 20px;
    list-style: none;
    margin: 30px 0px; 
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  #submit:hover,
  #submit:focus {
    background-color: #F082AC;
  }

  input[type=text] {
    height: 40px;
    background-color: #f4c9da;
    color:black;
    font-family: 'Space Grotesk', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1vw;
    border-radius: 10px;
  }

  #story {
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 2vw;
    line-height: 1.5em;
  }

  footer {
    height: 20%;
  }